<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <div class="about2">
        <a href="https://github.com/Subhajit-Bera" >Github</a>
        <a href="https://www.instagram.com/subhajit_bera_/">Instagram</a>
        <a href="https://www.linkedin.com/in/subhajit-bera-a76a1b207/">LinkedIn</a>
    </div>
<%- include("partials/footer"); -%>
