.App {
    /* min-height: 100vh;
    background-image: url("./images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */

    /* filter: blur(5px);
    z-index: -1; */

    min-height: 100vh;
    /* background-image: url("./images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
    position: relative;

}

.App::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    /* Apply the blur to the background image */
    z-index: -1;
}